@import "tailwindcss";

@theme {
  --color-forest: #0B3D2E;
  --color-forest-50: #1A5C45;
  --color-forest-100: #15503C;
  --color-forest-200: #114433;
  --color-forest-300: #0D3829;
  --color-forest-400: #0B3D2E;
  --color-forest-500: #082B20;
  --color-forest-600: #051F17;
  --color-gold: #D4A853;
  --color-gold-50: #F5E6C8;
  --color-gold-100: #F0DEBB;
  --color-gold-200: #E8CEA0;
  --color-gold-300: #E0BE85;
  --color-gold-400: #D4A853;
  --color-gold-500: #C89A3E;
}

body {
  background-color: #0B3D2E;
  color: #ffffff;
}
